body {
    background-color: bisque;
}
#thumbnail-container img {
    width: 100px;
    cursor: pointer;
}
#background-image img {
    width: 500px;
}
section div  {
    width: 85vw;
    height: 60vmin;
    display: flex;
    gap: 5px;
}
section div img{
    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10ox;
    transition: all 0.3s;
}
section div img:hover {
    flex: 4;
}